* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FFF;
    --primary-color: #DDDCDE;
    --secondary-color: #8E8593;
    --tertiaty-color: #21082F;
    --quaternary-color: #3D51A2;
    --purpleBackground: linear-gradient(148deg, rgba(2, 0, 36, 1) 0%, rgba(62, 32, 74, 1) 51%, rgba(2, 0, 36, 1) 100%);
    --primary-font:'Space Grotesk', sans-serif;
    --z-indexBackground: 1;
    --z-indexCard: 2;
    --z-indexCircle: 3;
    --z-indexCardFront: 4;
}

body {
    font-size: 18px;
    font-family: var(--primary-font);
}

@media only screen and (max-width: 600px) {
    .purpleBackground {
        position: absolute;
        width: 100vw;
        height: 210px;
        background: var(--purpleBackground);
    }

    /* cards */
    
    .cardBack img {
        position: relative;
        width: 260px;
        height: 150px;
        z-index: var(--z-indexBackground);
    }
    
    .cvc {
        display: inline-flex;
        position: absolute;
        top: 18%;
        left: 80%;
        font-size: 9px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--main-color);
        z-index: var(--z-indexCard);
    }
    
    .cardFront img {
        position: relative;
        top: 21%;
        left: 5%;
        width: 260px;
        height: 150px;
        z-index: var(--z-indexCard);
    }

    .circle {
        display: flex;
        position: absolute;
        align-items: center;
        top: 25%;
        left: 9%;
        z-index: var(--z-indexCircle);
    }

    .circleLarge {
        display: flex;
        margin-right: 10px;
        background: var(--main-color);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        z-index: var(--z-indexCircle);
    }

    .circleSmall {
        display: flex;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 1px solid var(--main-color);
        z-index: var(--z-indexCircle);
    }

    .cardNumberFront {
        display: inline-flex;
        position: absolute;
        top: 36%;
        left: 9%;
        letter-spacing: 1px;
        font-size: 18px;
        color: var(--main-color);
        z-index: var(--z-indexCardFront);
    }

    .cardholderNameFront {
        display: inline-flex;
        position: absolute;
        top: 44%;
        left: 9%;
        font-size: 9px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--main-color);
        z-index: var(--z-indexCardFront);
    }

    .expDate {
        display: inline-flex;
        position: absolute;
        top: 45%;
        left: 65%;
        font-size: 9px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--main-color);
        z-index: var(--z-indexCardFront);
    }


    /* infomation */

    #information {
        display: flex;
        margin-top: 50px;
        margin-left: -10px;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--tertiaty-color);
    }

    form {
        margin: 30px;
    }

    form label {
        display: flex;
        font-size: 15px;
        margin: 0 0 10px;
    }

    .title {
        font-size: 9px;
        font-weight: bold;
        color: var(--tertiaty-color)
    }

    #text {
        display: flex;
        margin-bottom: 15px;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12px;
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
    }

    .inputTemplateText {
        width: 170px;
        height: 20px;
        padding: 3px;
    }

    /* button */
    /* 
    #open-modal {
    
    }
    
    nav #fade {
    
    }
    
    nav #modal {
    
    }
    
    nav #modal-header {
    
    }
    
    h2 {
    
    }
    
    #close-modal
    
    .modal-body {
    
    }
    
    p {
    
    } */

    /* footer */

    footer {
        border: 1px solid red;
    }

    .attribution {
        font-size: 15px;
        text-align: center;
        padding: 15px 0 15px;
    }

    .attribution a {
        color: var(--quaternary-color);
        text-decoration: none;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}